/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

h1 {
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .75em;
  line-height: 1.8;
  margin-bottom: 60px;
  padding-right: 15px;
}

.container {
  background-color: #f2f2f2;
  padding: 7% 20%;
}

.borders {
  border: 1px solid #7FBCF8;
  margin: 1px;
}

.row {
  display: flex;
}

.even-col {
  justify-content: center;
  padding: 40px;
}

.even-col > * {
  border: 1px solid #7FBCF8;
}

.sedan {
  background-color: #e38826;
}

.suv {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
}

.btn {
  background-color: #f2f2f2;
  border: 0px;
  border-radius: 30px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .75em;
  padding: 10px 21px;
}

.btn-1 {
  color: #e38826;
}
.btn-2 {
  color: #006970;
}
.btn-3 {
  color: #004241;
}
