/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/
body {
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .75em;
  line-height: 1.8;
  margin-bottom: 60px;
}

.container {
  background-color: #f2f2f2;
  padding: 7% 20%;
}

.row {
  display: flex;
  justify-content: center;
}

.even-col {
  justify-content: center;
  flex-wrap: wrap;
  padding: 4%;
}

.even-col > * {
  flex: 1;
  flex-basis: 100%;
}

.sedan {
  background-color: #e38826;
  border-radius: 5px 0 0 5px;
}

.suv {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-radius: 0 5px 5px 0;
}

.btn {
  background-color: #f2f2f2;
  border-radius: 30px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .75em;
  padding: 1.2em 2.4em;
}

.btn:active, .btn:after {
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.btn-1 {
  border: 1px solid #e38826;
  color: #e38826;
}
.btn-2 {
  border: 1px solid #006970;
  color: #006970;
}
.btn-3 {
  border: 1px solid #004241;
  color: #004241;
}
